body {
    margin: 0%;
}

#name {
    position: relative;
    text-align: center;
    color: rgb(208, 220, 230);
    font-size: 20vmin;
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    
}

#main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(15, 32, 63);
}

#srch {
    position: relative;
    background-color: rgb(13, 26, 51);
    width: 50%;
    border-radius: 25px;
    color: rgb(208, 220, 230);
    text-align: center;
    font-size: large;
    border: none;
}

#srchbtn {
    position: relative;
    border-radius: 25px;
    font-size: large;
    background-color: rgb(13, 26, 51);
    color: rgb(208, 220, 230);
    border: none;
}

#search {
    display: flex;
    justify-content: center;
    gap: 1%;
}

@keyframes fade{

    from {
        top : -10%;
        opacity: 0;
    }

    to {
        top : 0%;
        opacity: 1;
    }

}
  
  